<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Home</title>
    <style>
        /* Ensures the content area takes the full height of the viewport */
        .content-wrapper {
            min-height: calc(100vh - 100px); /* Adjust based on footer and navbar height */
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    </style>
</head>
<body class="d-flex flex-column min-vh-100">
    <%- include('./partials/navbar') %>

    <div class="content-wrapper flex-grow-1 d-flex flex-column justify-content-center align-items-center">
        <% if (locals.user) { %>
          <% if (locals.blogs && locals.blogs.length) { %>
            <div class="container d-flex gap-5 flex-wrap justify-content-center">
              <% blogs.forEach(blog => { %>
                  <div class="card" style="width: 15rem; height: 20rem;">
                      <img src="<%= blog.image %>" style="width: 100%; height: 70%;" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title"><%= blog.title %></h5>
                        <a href="/api/blogs/<%= blog._id %>" class="btn btn-primary">Read</a>
                      </div>
                  </div>
              <% }) %>
            </div>
          <% } else { %>
            <h1 style="text-align: center;">No Content is there!!!</h1>
          <% } %>
        <% } else { %>
          <h1 style="text-align: center;">Please Login To access the contents</h1>
        <% } %>
    </div>

    <%- include('./partials/footer') %>
    <%- include('./partials/scripts') %>
</body>
</html>
