<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Blog</title>
</head>
<body>
    <%- include('./partials/navbar') %>
    <% if (locals.user) { %>
      <% if (locals.blog) { %>
        <div class="container d-flex justify-content-center">
              <div class="card d-flex justify-content-center" style="width: 30vw; height: auto">
                  <img src="/<%=blog.image%>" style="width:100%; height: auto" class="card-img-top" alt="image here">
                  <div class="card-body d-flex justify-content-center flex-column">
                    <h5 class="card-title"><%= blog.title %></h5>
                    <p class="card-content"><%= blog.content %></p>
                    <a href="/" class="btn btn-primary">Return</a>
                  </div>
                </div>
        </div>
        <div class="container">
          <form action="/blogs/comment/<%= blog._id %>" method="post">
            <div class="col-sm-10">
              <input type="text" name="content" class="form-control " id="content">
          </div>
          <button type="submit" class="btn btn-primary mt-2">Add</button>
          </form>
        </div>
        <div class="container">
          <h2>Comments:</h2>
          <!-- <% if (locals.error) { %>
           <p><%= error %></p>
          <% } %> -->
          <% if (locals.comments) { %>
            <% comments.forEach(comment => { %>
              <ul>
                <li>
                  <p><%= comment.content %></p>
                </li>
              </ul>
             
            <% }) %>
           
          <% } %>
        </div>
        <% } else { %>
          <h1 style="text-align: center;">Not Found</h1>
      <% } %>
      <% } else { %>
        <h1 style="text-align: center;">Please Login To access the contents</h1>
    <% } %>
     
    <%- include('./partials/footer') %>
    <%- include('./partials/scripts') %>
</body>
</html>